/*--------Fuentes--------*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*--------Global CSS--------*/
:root{
    --Font:#E5E5E5;
    --White:#FFFFFF;
    --Dark-Blue:#0A3871;
    --Greey:#C5C5C5;
    --Purple:#4535C1;
    --Purple-White:#EFEDFF;
    --Medium-Gray:#67808E;
    --RGBA:rgba(0,0,0,0.08);
    --Gray:#343A40;
    --Gree:#495057;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    background: transparent;
}

::selection{
    background: var(--Purple);
    color: var(--White);
}

body{
    min-height: 100vh;
}

img{
    max-width: 100%;
}

/*--------Encabezado--------*/
header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header.logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/*--------Principal--------*/
main{
    display: flex;
    flex-direction: row;
    background: url(../imagenes/fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 96vh;
}

.encriptador-aviso{
    background: transparent;
    margin: -20px 0px 0px 0px;
}

.encriptador-contenedor{
    background: transparent;
}

.encriptador{
    width: 60%;
    margin: 168px 0px 0px 200px;
    background: transparent;
}

.encriptar{
    width: 1060px;
    height: 288px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 2px solid var(--Greey);
    border-radius: 15px;
    resize: none;
    color: var(--Purple);
    background-color: #ffffffea;
}

.encriptar::placeholder, :focus{
    color: var(--Purple);
    background-color: #ffffffea;
}

.encriptador-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}

.img-aviso{
    background: transparent;
}

.texto-aviso{
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    opacity: 0,8;
    color: var(--Medium-Gray);
    background: transparent;
}

.encriptador-contenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: var(--White);
    background: var(--Purple);
    border: 1px solid var(--Purple);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
}

.btn-encriptar:active{
    box-shadow: inset 2px 2x 4px var(--Font),
    inset -3px -4px 8px var(--Purple);
    color: #77E4C8;
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: var(--Purple);
    background: var(--Purple-White);
    border: 1px solid var(--Purple);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
}

.btn-copiar:active,
.btn-desencriptar:active{
    box-shadow: inset 2px 2x 4px var(--Font),
    inset -3px -4px 8px var(--Purple-White);
    color: #77E4C8;
}

.tarjeta{
    width: 270px;
    height: 629px;
    background: var(--White);
    box-shadow: 10px 14px 32px -8px var(--Gray);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}

.tarjeta-contenedor{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--White);
}

.img-collage{
    background: var(--White);
}

.texto-uno{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--Purple);
}

.texto-dos{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--Medium-Gray);
}

.evaluar{
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400px;
    font-size: 30px;
    line-height: 36px;
    color: var(--Gree);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}

.evaluar:focus{
    outline: none;
}

.btn-copiar{
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--Purple);
    border: 1px solid var(--Purple-White);
    border-radius: 20px;
    color: var(--Purple-White);
    cursor: pointer;
}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover{
    transform: scale(0.97);
}

/*--------Pide de Página--------*/
footer{
    padding: 10px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    color: var(--White);
    background: var(--Purple);
}

.copyright{
    background: transparent;
}

/*--------Media--------*/
@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador{
        margin: 200px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptar{
        width: 90%;
    }

    .encriptador-contenedor{
        display: flex;
        align-items: center;
        position: inherit;
    }

    .encriptador-aviso{
        position: inherit;
        margin: 15px;
    }

    .tarjeta{
        width: 665px;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .tarjeta-contenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 10%;
        font-size: 24px;
        font-weight: 700;
    }

    .img-collage{
        display: none;
    }

    .btn-copiar{
        position: inherit;
        width: 100%;
    }
    
    .evaluar{
        width: 100%;
        height: 210px;
        padding: 10px;
    }
}

@media(max-width:720px){

    header .logo{
        width: 100%;
        background: transparent;
        padding: 2px;
    }

    .encriptar{
        width: 90%;
        font-size: 24px;
    }

    .encriptador-contenedor{
        display: grid;
        gap: 21px;
    }

    .tarjeta{
        width: 90%;
        height: 240px;
        margin-bottom: 40px;
    }

    .copyright{
        font-size: 16px;
    }

}